# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build outputs.
build/
bin/puro
bin/puro.exe

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock